h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #269c7f;            
    text-align: center;    
    font-size: 2.5rem;       
    margin-top: 50px;          /* Margen superior */
}